.qs1{
    height: 400px;
    width: 100%;
    position: absolute;
    margin-top: 13.5%;
   margin-left: auto;
   margin-right: auto;
    
}
.qsdiv1{
    height: 30%;
    width: 70%;
    border-radius: 20px;
    background-color: #F5F1F1;
    margin-left: auto;
    margin-right: auto;
}
.qsp1{
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 3.2%;
    margin-left: 5%;
}
.option{
    height: 15%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}
.ans{
    font-size: 20px;
    margin-left: 1%;
}
.footer {
    
    
  
    
    margin-left: 39%;
    margin-right: auto;

}

.sbtn5 {
    height: 48px;
    width: 150px;
    background-color: #142757;
   
    color: white;
    margin-top: 3%;
    

}

.sbtn7 {
    height: 48px;
    width: 150px;
    background-color: #142757;
   
    color: white;
    margin-top: 3%;
   
}
